.desinger-dashboard-container {

}

.left-bar {

}

.right-container {

}

.left-row {
	display: block;
	margin: 0 auto;
	width: 80%;
}

.designer-block .hide {
	display: none;
}

.designer-block .active {
}

.left-row-item {
	cursor: pointer;
}

.designer-upload {
	display: none;
}